# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Usuario\Documents\Universidad_Jorge_USTA\GIT_HUB_REPOSITORIES\Introduccing-to-Programing\JAVA_EXCERCISES\P1T37_JAVA_METHODS_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
